# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Code\3d-Priting-Stuff\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
